body {
    margin: auto;
    background-color: #fff;
}

.section__404 {
    /* background: linear-gradient(102.67deg, var(--clr-button) 7.43%, var(--clr-button2) 46.26%, var(--clr-button3) 104.5%); */
    margin-top: -10%;
    margin-bottom: 15%;
    /* transform: scale(0.7); */
}

.error__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    /* transform: scale(0.7);transform: scale(0.7); */
}

.error__container img {
    /* transform: scale(0.7); */
}

#heading {
    color: #111;
    font-style: normal;
    font-weight: 600;
    font-size: calc(1.6rem + 1vw);
    line-height: 140%;
    /* color: var(--clr-nav); */
    /* text-align: center; */
    text-transform: capitalize;
    margin-top: -10%;
    /* margin-bottom: 1.6rem; */
}


.button {
    text-decoration: none;
    width: 50%;
    align-items: center;
    /* margin-left: 50%; */
    font-size: var(--fs-btn);
}


.text {
    color: #fff;
}

@media screen and (max-width: 1200px) {

    .button {
        width: 70%;
    }
    
    .error {
        font-size: 20rem;
    }
}

@media (max-width: 800px) {
        
    .error {
        font-size: 12rem;
    }
}
