.button__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2.4rem;
    column-gap: 33vw;
}

.button {
    text-transform: uppercase;
    padding: 1.4rem 2.2rem;
    border: none;
    color: var(--clr-body2);
    font-weight: var(--fw-bold);
    /* font-size: var(--fs-btn); */
    font-size: var(--fs-h3);
    cursor: pointer; /* Gives a pointer cursor on hover */
    filter: brightness(0.93);
    letter-spacing: 0.05em;
    transform: scale(0.85);
}

.button:hover {
    filter: brightness(1.0)

}

.red-button {
    background-color: var(--clr-accent);
}

.blue-button {
    background-color: var(--clr-accent2);
}
.clear-button {
    /* background-color: #080707; */
    background-color: inherit;
    border: 1px solid var(--clr-body2);
    justify-content: center;
    font-size: var(--fs-btn);
    transform: scale(0.85);
    margin-left:-6px;
    cursor: pointer;
}

.red-button:hover, .blue-button:hover, .clear-button:hover, .footer-button:hover {
    transform: scale(0.88);
}

.footer-button {
    padding: 1rem 1.6rem;
    /* font-size: 1.2rem; */
    transform: scale(0.85);
} 

/*Home page*/
.about-button {
    border: 1px solid var(--clr-accent);
    color: var(--clr-accent);
    font-size: 1.4rem;
    padding: 1.2rem 2.8rem;
    /* font-weight: 600; */
}

.footer .clear-button {
    width: 100%;
    margin-left: -1.6rem;
}

