.button__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2.4rem;
}

.button {
    text-transform: uppercase;
    padding: 1.4rem 2.2rem;
    border: none;
    color: var(--clr-body2);
    font-weight: var(--fw-bold);
    /* font-size: var(--fs-btn); */
    font-size: var(--fs-h3);
    cursor: pointer; /* Gives a pointer cursor on hover */
    filter: brightness(0.95);
    letter-spacing: 0.05em;
}

.button:hover {
    filter: brightness(1.03)
  }

.red-button {
    background-color: var(--clr-accent);
}

.blue-button {
    background-color: var(--clr-accent2);
}