/* SECTION HERO */
body {
    overflow-x: hidden;
}

.section__hero {
    background-image: url('../images/pages/property-details/hero.png'); /* Path to your image */
    background-size: cover; /* Cover the entire section without stretching */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative; /* Establish a positioning context */
    height: 70dvh; /* Set the height of the hero section to 70% of the viewport height */
    
}

/*BULLET POINTS*/
.section__bullet {
    position: relative; /* Needed for absolute positioning of the pseudo-element */
    /* background-color: var(--clr-accent); */
    color: #fff;
    overflow: hidden; /* Ensures the pseudo-element doesn't cause overflow */

}

.section__bullet::after {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw; /* Width equal to the viewport width */
    height: 100%; /* Full height of the parent */
    background-color: var(--clr-accent);
    transform: translateX(-50%); /* Centers the element if the parent has padding/margin */
    z-index: -1; /* Ensures it doesn't overlap content */
}

.bullet__container {
    position: relative; /* Ensure it's positioned above the ::after pseudo-element */
    display: flex;
    align-items: center;
    row-gap: 4.8rem;
    column-gap: 6.4rem;
    justify-content: center;
    z-index: 1;
    flex-wrap: wrap;
}


.image-container img {
    max-width: 452px;
    width: 100%;
    height: auto;
}

.details-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    list-style: circle;
    font-size: var(--fs-h3);
}

/* FINANCIAL */
.financial__container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: var(--clr-accent2); */
}

.financial__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 80%; */
    width: 100%;
    /* font-size: var(--fs-h3); */
    border-radius: 1rem;
    box-shadow: var(--bs-1);
}

.heading-container {
    background-color: #2556d3;
    color: #fff;
    padding: 1.4rem 0;
    margin-bottom: 1.4rem;
    border-top-left-radius: 1rem; 
    border-top-right-radius: 1rem; 
}

.heading-container h2 {
    justify-content: center;
    text-align: center;
    font-size: var(--fs-h3);
    
}

.financial__card li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin: 0 2.4rem;
    margin-bottom: 1.4rem;

}


.financial__list {
    margin: 0;
    padding: 0 ;
}

.financial__list li:last-of-type {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

/* Summary section */

.summary__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4.8rem;
}

.summary__text {
    display: flex;
    flex-direction: row;
    row-gap: 2.4rem;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    /* width: 80%; */
}

.summary__text > *{
    flex-basis: 50%;
    /* justify-content: center; */
}

.summary__text h1 {
    font-size: var(--fs-h1);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    /* text-align: center; */
}

.summary__text p {
    justify-content: flex-end;
}

.summary__slides {
    justify-content: center;
}

/*slide images*/
.slide__img {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    /* align-items: center; */
    row-gap: 4.8rem;
    /* gap: 2.8rem; */
}

.slide__img img {
    max-width: 340px;
    width: 100%;
    height: auto;
}

.slide__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 446px;
    width: 100%;
    height: auto;
    row-gap: 2.4rem;
}

.slide__col img {
    max-width: 446px;
    width: 100%;
    height: auto;
}

/*slide buttons*/
.button__box {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.8rem;

}


.slide__col .slide-button {
    /* position: absolute; */
    top: 50%;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    z-index: 5;
    /* color: #fff; */
    color: #000;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    /* background: #000; */
    background: #ddd;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    /* transform: translateY(-50%); */
}

.slide__col .slide-button:hover {
    background: #eee; 
    /* color: #404040;*/
}

.slide__col .slide-button#prev-slide {
/* left: -25px; */
/* display: none; */
}

.slide__col.slide-button#next-slide {
/* right: -25px; */
/* display: none; */
}


@media (max-width: 1300px) {


    .button__box {
        justify-content: center;
    }

   .summary__text {
    flex-direction: column;
    
   }

   .slide__img {
    /* flex-direction: column; */
    flex-grow: 1;
    flex-wrap: wrap;
    column-gap: 6.4rem;
    justify-content: center;
   }

   .slide__col {
    justify-content: center;
    width: 100%;
   }

   .slide__col p {
    display: none;
   }
}