@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  /*Font family defualts*/
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: 'Assistant', sans-serif;

  /*Font weight defaults*/
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 600;

  /*Colors default*/
  /* Inverted colors */
  /* 
  #f1f1f1
  #25242a
  */
    /* COLORS*/
    /*PRIMARY*/
  --clr-accent: #CB3939;
  --clr-accent2: #093394;
  --clr-body: #35312A;
  --clr-headings: #060506;
  
  /*SECONDARY*/
  --clr-headings2: #fff;
  --clr-body2: #f5f5f5;

  /*Font Size*/
  /*Headings & body*/
  --fs-h1: 3.6rem;
  --fs-h2: 2.4rem;
  --fs-h3: 2rem;
  --fs-body: 1.75rem;
  --fs-btn: 1.5rem;

  /*Box shadow*/
  --bs-1: 0px 4px 16px rgba(0, 0, 0, 0.2);
  --bs-2: 0px 8px 24px rgba(0, 0, 0, 0.15);
}


/* SCROLLBAR */
html::-webkit-scrollbar
 {
  width: 1.2rem; /* width of the entire scrollbar */
  height: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
  /* background: #111; */
  padding-left: 0.1rem; /* color of the tracking area */
}

html::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent2); /* color of the scroll thumb */
  border-radius: 100px; /* roundness of the scroll thumb */
  /* border-left: 3px solid #111;
  border-right: 1px solid #111; */
  padding-left: 0.1rem; /* creates padding around scroll thumb */
}

/* General Styles */

html {
    scroll-behavior: smooth;
      /* font-size: 10px; */
      /* 10px / 16px = 0.625 = 62.5% */
      /* Percentage of users browsers font size setting */
      font-size: 62.5%;
      overflow-x: hidden; /* Add this line */
  }

  body {
    /* background-color: var(--clr-light); */
    /* background-color: var(--clr-back); */
    /* background-color: #f3f3f3f3; */
    margin: 0;
    font-family: var(--ff-primary); /*Montserrat*/ 
    font-size: var(--fs-body);
    line-height: 1.6;
    /* max-width: 130rem; */
  }

  /* h1 {
    font-size: var(--fs-h1);
  } */

  .heading {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    
  }
  
  .section {
    padding: 4em 2em;
  }

  ul {
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  strong {
    font-weight: var(--fw-bold);
  }

  .container__body {
    /* 1140px */
    /* background-color: var(--clr-back); */
    /* background-color: #000000f3; */
    color: var(--clr-body);
    max-width: 130rem;
    /* max-width: 130rem; */
    /* max-width: 100%; */
    /* padding: 0 3.2rem; */
    margin: 0 auto;
  }

  .grid {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }

.grid--2-cols {
    grid-template-columns: auto 1fr; /* Auto for the image, remaining space for the text */
    column-gap: 1.4rem;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr); /* 50:50 */
  column-gap: 8.4rem;
}

.grid--center-v {
  align-items: center;
}
