/* Sticky Navbar */
.header {
    width:105vw;
    max-width: 100vw;
    overflow-x: hidden; 
}

.navbar {
    top: 0;
    z-index: 1000; 
    background-color: transparent;
    opacity: 0.9;
}

.navbar-scroll-bg{
    background-color: #00000075;
}

.navbar-collapse {
    justify-content: center; /* Center flex items horizontally in the container */
}

.navbar-nav {
    column-gap: 2.4rem;
    row-gap: 1rem;
    justify-content: center !important; /* Center the nav items */
    flex-grow: 1; /* Make the navbar-nav grow to fill the space for better centering */
}

.navbar-toggler {
    margin-right: 1rem;
}

.nav-item {
    color: var(--clr-body2);
    /* padding-bottom: 0rem; */
}
.nav-link {
    color: var(--clr-body2);
    /* text-align: center;  */
}
.nav-link:hover {
    color: #FF7377;
}

.logo img {
    max-height: 70px;
    /* min-height: 50px; */
    height: auto;
    width: 100%
}

.navbar-collapse {
    justify-content: center; /* Center flex items horizontally in the container */
    font-size: var(--fs-h3);
}

.navbar-nav {
    justify-content: center !important; /* Center the nav items */
    flex-grow: 1; /* Make the navbar-nav grow to fill the space for better centering */
}


/* SECTION HERO */
/* SECTION HERO */
.section__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center content vertically */
    background-image: url('../images/pages/home/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 70dvh; /* Adjusted to make sure it's always at least the full viewport height */
}

.section__hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Ensure content is layered above the pseudo-element */
.section__hero > * {
    position: relative;
    z-index: 2;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr-body2);
    text-align: center;
    max-width: 70%; /* Ensure it doesn't stretch too wide on larger screens */
}

.heading__hero {
    margin-top: 0; /* Remove specific top margin to allow centering */
    padding-bottom: 2.8rem;
    text-transform: uppercase;
}

.heading__hero h1 {
    font-size: calc(4rem + 2vw); /* Example of responsive font size */
    font-weight: var(--fw-bold);
}

.hero__p {
    font-size: calc(1.6rem + 1vw); /* Responsive font size */
    padding-bottom: 2.8rem;
}

@media (max-width: 1200px) {
    /* Additional responsive adjustments if necessary */
}


@media (max-width: 1200px) { 
    
    /* .heading__hero h1 {
        font-size: var(--fs-title);
    } */
}

.swiper-slide-active{
    width: 1000px !important;
}
.swiper-slide-active .swiper-caption{
    visibility: visible;
}

.swiper-slide.swiper-slide-next, .swiper-slide.swiper-slide-prev{
    width: 750px !important;
}

.swiper-wrapper{
    align-items: center;
    margin-bottom: 50px;
}

.swiper-caption{
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #00000075;
    visibility: hidden;
}

.swiper-caption h1, .swiper-caption h3 {
    color: #fff;
    text-transform: uppercase;
}

.swiper-caption h1{
    font-weight: 600;
    font-size: 40px;
}

.swiper-caption h3{
    font-weight: 600;
    font-size: 20px;
}

.swiper-scrollbar{
    max-width: 750px !important;
    /* height: 2px !important; */
    left: 27.5vw !important;
    overflow-x: hidden;
    overflow-y: visible;
    /* background-color: #000; */
}

.swiper-scrollbar-drag{
    background-color: #CB3939;
    width: 100px !important;
    /* height: 15px !important; */
}

.swiper-button-next, .swiper-button-prev{
    width: fit-content;
    height: fit-content;
}
.swiper-button-next::after, .swiper-button-prev::after{
    content: '';
}
