/* SECTION HERO */
.section__hero {
    background-image: url('../images/pages/landlords/hero.png'); /* Path to your image */
    background-size: cover; /* Cover the entire section without stretching */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative; /* Establish a positioning context */
    height: 70dvh; /* Set the height of the hero section to 70% of the viewport height */
    
}

.intro__text {
    padding-left: 0; /* Ensure no padding is pushing contents inward */
    margin-left: 0;
}

.intro__text .heading {
    text-align: start;
}

.intro__text .button {
    font-size: var(--fs-btn);
    margin-left: -1.2rem; /* Ensure button aligns to the far left */ /* Ensure the text inside the button starts right at the button's edge */
    display: inline-block; /* Makes the button only as wide as its content */
}

/* PREPARATION RENT SECTION*/
.section__prep {
    position: relative;
}

/* .section__prep::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: -40%;
    width: 40vw;
    height: 100%; 
    background-color: #093394; 
    z-index: -1; 
} */

.section__prep::after {
    content: '';
    position: absolute;
    left: 0;
    right: 80%; /* Adjust this value to control how far the background extends towards the right */
    bottom: 0;
    margin-left: -40%;
    height: 100%; 
    background-color: #093394; 
    z-index: -1; 
}

.prep__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* column-gap: 6.4rem; */
    row-gap: 4.8rem;
    flex-wrap: wrap;

}
.prep__container .image__container {
    flex-basis: 40%;
}

.prep__container img {
    max-width: 398px;
    width: 100%;
    height: auto;
}

.prep__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
}

.prep__content .accordion {
    margin: 0;
    padding: 0;
    margin-top: 1.6rem;
}

/* LETTING SECTION */

.lettings__container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    row-gap: 4.8rem;
    column-gap: 6.4rem;
}

.lettings__container > * {
    flex-basis: 50%;
}

.lettings__container .image__container {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: flex-end;
}

.lettings__container img {
    max-width: 514px;
    width: 100%;
    height: auto;
}
