.section__hero {
    background-image: url('../images/pages/success-stories/hero.png'); /* Path to your image */
    background-size: cover; /* Cover the entire section without stretching */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative; /* Establish a positioning context */
    height: 70dvh; /* Set the height of the hero section to 70% of the viewport height */
    
}

#privacy__heading {
    text-align: center;
}

body {
    overflow-x: hidden;
}