/* Footer */

position: absolute;
width: 1440px;
height: 538px;
left: calc(50% - 1440px/2 + 0px);
top: 8720px;



/* Rectangle 159 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #080707;


/* Line 5 */

position: absolute;
left: 0%;
right: 0%;
top: 84.18%;
bottom: 15.65%;

border: 1px solid rgba(167, 161, 157, 0.3);
transform: rotate(-0.04deg);


/* ©Copyright 2024 Help4PropertyDeals. All rights are reserved. */

position: absolute;
left: 8.61%;
right: 57.57%;
top: 89.96%;
bottom: 5.58%;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: rgba(255, 255, 255, 0.4);



/* Powered by WebMagnetism.com */

position: absolute;
left: 45.76%;
right: 35.35%;
top: 89.96%;
bottom: 5.58%;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: rgba(255, 255, 255, 0.4);



/* Frame 269 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 73px;

position: absolute;
left: 67.57%;
right: 7.57%;
top: 89.96%;
bottom: 5.58%;



/* Terms and Conditions */

width: 176px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Privacy Policy */

width: 109px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 272 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 120px;

position: absolute;
left: 34.44%;
right: 13.33%;
top: 14.68%;
bottom: 23.61%;



/* menu */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 101px;
height: 332px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Home */

width: 50px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #CB3939;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* About us */

width: 73px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Our Team */

width: 79px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Landlord */

width: 72px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Investors */

width: 72px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* FAQ */

width: 35px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Testimonials */

width: 101px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Contact us */

width: 87px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* follow us */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 102px;
height: 156px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Follow us */

width: 76px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #CB3939;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* social media */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 102px;
height: 112px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* social */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 111px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* teenyicons:instagram-solid */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 33.32%;
right: 33.35%;
top: 33.34%;
bottom: 33.33%;

/* white */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* white */
background: #FFFFFF;


/* Instagram */

width: 83px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* social */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 107px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* brandico:facebook-rect */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* white */
background: #FFFFFF;


/* Facebook */

width: 79px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* social */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 84px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* fa:twitter-square */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* white */
background: #FFFFFF;


/* Twitter */

width: 56px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* social */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 98px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* simple-icons:linkedin */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Linkedin */

width: 70px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Information */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 309px;
height: 156px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Information */

width: 96px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #CB3939;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 271 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 309px;
height: 112px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Address */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 309px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* carbon:location-filled */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 15.62%;
right: 15.62%;
top: 6.25%;
bottom: 6.25%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 28.12%;
bottom: 46.88%;



/* 25 Atkinson Road. London, E16 3LP */

width: 277px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Address */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 282px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ic:baseline-email */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

background: #FFFFFF;


/* help4propertydeals@gmx.com */

width: 250px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Address */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 139px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* ic:round-phone */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.6%;
right: 12.55%;
top: 12.54%;
bottom: 12.61%;

background: #FFFFFF;


/* 07460198608 */

width: 107px;
height: 24px;

/* body 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Our mission is to empower you, the investor, with tailored property investment opportunities across the thriving UK real estate market. */

position: absolute;
left: 8.61%;
right: 71.67%;
top: 27.32%;
bottom: 54.83%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

color: rgba(255, 255, 255, 0.8);



/* Frame 262 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 10px;

position: absolute;
left: 8.61%;
right: 79.31%;
top: 51.3%;
bottom: 40.15%;

border: 1px solid #FFFFFF;


/* Contact us */

width: 110px;
height: 22px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Mask group */

position: absolute;
left: 8.61%;
right: 78.82%;
top: 12.83%;
bottom: 76.77%;



/* Blue Logo 3 */

position: absolute;
left: 8.61%;
right: 78.82%;
top: 12.83%;
bottom: 76.77%;

background: url(Blue Logo.png);


/* Rectangle 42444 */

position: absolute;
left: 8.75%;
right: 78.82%;
top: 13.75%;
bottom: 76.77%;

background: #FFFFFF;
